@media only screen and (min-width: 73rem) {

  header {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
  }

  nav ul li a {
    font-size: 1.5rem;
  }

  .header2 {
    margin: right;
  }

  .logo {
    margin: center;
    background-color: #A12B2B;
    margin-top: 87px;
    border-radius: 10px;
    width: 200px;
    display: flex;
    box-shadow: 10px 10px 70px #474747;
  }

  .logo img {
    width: 150px; 
    margin: 0 auto;
  }

  .reservation {
    margin: 0 auto;
  }

  .reservation a {
    font-size: 1.5rem;
  }
}