@media only screen and (min-width: 40rem) {
  nav button {
    display: none;
  }

  nav ul#primarynav {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0);
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0);
  }

  header {
    display: flex;
    justify-content: space-around;
    height: 95px;
  }

  .header2 {
    display: flex;
    justify-items: center;
    margin: 10px;
  }

  .logo {
    margin: 0 auto;
  }

  .logo img {
    width: 100px;
  }

  .reservation {
    margin: right;
  }

  footer {
    display: flex;
  }

  #fpart1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }

  #fpart2 {
    display: flex;
    color: #FFFF;
    font-size: 1rem;
    text-align: center;
  }

  .email,
  .phone {
    font-size: 1rem;
    padding: 10px;
  }

  /*footer css*/
  #logo {
    margin: 0 auto;
    text-align: center;
  }

  #logo img {
    width: 150px;
  }

  /*Form CSS*/
  #bform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
  }

  #h1form {
    font-size: 1.5rem;
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
  }

  #h2form {
    grid-row: 2;
    grid-column: 2/3;
    text-align: center;
    margin-top: 150px;
  }

  #bookform{
    grid-column: 1;
    grid-row: 2;
    margin-top: 40px;
  }

  #rooms {
    grid-column: 2;
    grid-row: 2;
    margin-top: 150px;
  }

  #description {
    width: 100%;
    vertical-align: top;
    height: 5em;
  }

  #address {
    display: block;
    font-size: .8rem;
  }

  /*Temple page*/
  .cards {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
    margin: 0 auto;
  }

  .bcard {
    font-size: 1.2rem;
  }

  body > main > div > section:nth-child(1) {
    row-gap: 16px;
  }

  #templesHeadline {
    font-size: 2rem;
  }

  #moreinfo {
    font-size: 1.2rem;
  }

  .closurep {
    font-size: 1rem;
  }

  /*services*/
  #services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #services h1 {
    grid-column: 1/3;
  }

  #special ul li {
    padding: 5px;
  }

  #amenities ul li{
    padding: 10px;
  }

  .subpages {
    grid-column: 1/3;
    margin: 0 auto;
  }

  /*missionaries*/
  #missionaries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
  }
  
  #missionaryh {
    grid-column: 1/3;
    margin: 0 auto;
  }

  #missionaries p {
    text-align: center;
  }

  #servingp {
    margin-top: 25%;
  }

  #contactusm {
    margin-top: 30%;
  }

  #contactusm {
    margin-top: -50px;

  }

  #form {
    display: flex;
    flex-flow: column;
  }

  #requiredf {
    margin-top: 1px;
  }

  /*reception*/
  #reception {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.3rem;
  }

  #reception h1 {
    grid-column: 1/3;
  }

  #reception > p:nth-child(2) {
    grid-row: 2;
    grid-column: 1/3;
  }

  #reception > h2:nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: 20%;
  }

  #reception > p:nth-child(4) {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: 35%;
  }

  #reception > div:nth-child(5) {
    grid-row: 3/4;
    grid-column: 2;
  }

  #reception > h2:nth-child(6) {
    grid-column: 1/3;
  }

  #reception > h3:nth-child(7) {
    grid-column: 2;
    grid-row: 5/6;
    margin-top: 25%;
  }

  #reception > p:nth-child(8) {
    grid-column: 2;
    grid-row: 5/6;
    margin-top: 35%;
  }

  #reception > div:nth-child(9) {
    grid-row: 5/6;
  }

  #reception > h3:nth-child(10) {
    grid-column: 1;
    grid-row: 6/7;
    margin-top: 20%;
  }

  #reception > p:nth-child(11) {
    grid-column: 1;
    grid-row: 6/7;
    margin-top: 30%;
  }

  #reception > h3:nth-child(13) {
    grid-column: 2;
    grid-row: 7/8;
    margin-top: 20%;
  }

  #reception > p:nth-child(14) {
    grid-column: 2;
    grid-row: 7/8;
    margin-top: 30%;
  }

  /*contact us*/
  #contactus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
  }

  #contactusinfo {
    margin-top: -50px;
  }
}